.footer {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #202020;
  color: white;
  text-align: center;

}

.about {
  flex: 0 0 30%;
}

.socials {
  flex: 0 0 30%;
}

.copyright {
  flex: 0 0 30%;
}
