
  @import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.h1 {
      text-align: center;
  }

.btn {
  width: 180px;
  height: 60px;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 0.5s ease-in-out;
  margin: 5px;
  text-align: center;
  border-radius: 4px;
}


.btn:hover {
  transition: 0.5s ease-in-out;
  background: #4F95DA;
}


.btn span {
  color: white;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.centermepls {
    text-align: center;
}

.iexisttomakethispagescrollable {
    margin-bottom: 4em;
}

.support {
	text-align: center;
}
