.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #202020;
	text-align: center;
}

.topnav ul li {float: left;}
.topnav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
	
	.topnav ul li a:hover:not(.active) {background-color: #111;}
	
	.topnav ul li a.active {background-color: #4CAF50;}
	
	.topnav ul li.right {float: right;}
	
@media screen and (max-width: 600px){
	.topnav ul li.right {float: right;}
	.topnav ul li {float: none;}
	
	}