.body {
  margin: 0;
  font-family: Arial;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 4px;
  border: 2px solid #202020;
border-radius: 25px;
background-color: #202020;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border: 2px solid rgb(255, 255, 255);
border-radius: 25px;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.names {
  text-align: center;
  font-size: medium;
}